* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    text-align: center;
}

nav {
    margin: 20px 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
    margin: 0px 100px;
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
}

nav a::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

nav a:hover {
    color: blue;
}

nav a:hover::after {
    transform: scale(1);
}

article {
    margin-left: 100px
}

/*CSS pour animation*/
.console-underscore {
    display:inline-block;
   position:relative;
   top:-0.14em;
   left:10px;
}

.hidden {
    opacity:0;
}

/*CSS Animation underline*/

#ani{
    text-align: center;
    font-size: 80px;
    cursor: pointer;
}

#ani::after{
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background: #000;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

#ani:hover::after{
    transform: scale(1);
}