* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    text-align: center;
}

nav {
    margin: 20px 0px;
}

nav #menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav #menu li {
    float: left;
    margin: 0px 100px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

nav a::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: transform 0.15s ease-in-out;
    transform: scale(0);
}

nav a:hover {
    color: blue;
}

nav a:hover::after {
    transform: scale(1);
}

.titre {
    text-decoration: underline;
}

#boite {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
}

.l-projet {
    margin-bottom: 10px;
    height: 250px;
}

.r-projet {
    text-align: right;
    margin-bottom: 10px;
    height: 250px;
}

.test {
    display: inline;
}

.l-illu {
    float:left;
    max-height: 250px;
    border: solid 3px black;
    margin-right: 10px;
}

.r-illu {
    float: right;
    max-height: 250px;
    border: solid 3px black;
    margin-left: 10px;
}

hr {
    clear: both;
}



/*CSS pour animation*/
.console-underscore {
    display:inline-block;
    position:relative;
    left:10px;
}

.hidden {
    opacity:0;
}
