body {
    font-family: 'MedievalSharp';font-size: 22px;
    background-color: #f3e6cd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4d3f32;
    padding: 20px;
    color: #fff;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-image: url('knigths.gif'); /* Image de fond pour le héros */
    background-size: cover;
    color: #fff;
}

.prout {
    text-align: center;
    padding: 50px 0;
    background-image: url('prout.gif'); /* Image de fond pour le héros */
    background-size: cover;
    color: #fff;
}
 caca {
     width: fit-content;
 }

.content {
    margin-top: 50px;
    overflow-wrap: break-word;
}

footer {
    background-color: #4d3f32;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}